@use "../globals/variables.scss";
@use "../globals/mixins.scss";

.advantage-city {
  padding-top: 8px;
  padding-left: 50px;
  text-transform: uppercase;

  @include mixins.tablet {
    padding-top: 100px;
    padding-left: 0;
    text-align: center;
  }
}

.advantage-city--icon {
  background-repeat: no-repeat;
  background-position: top left;

  @include mixins.tablet {
    background-position: top center;
  }
}

.advantage-city--house {
  background-image: url("../../img/icon-house.svg");

  @include mixins.tablet {
    background-size: 75px 72px;
  }
}

.advantage-city--food {
  background-image: url("../../img/icon-food.svg");

  @include mixins.tablet {
    background-size: 76px 68px;
  }
}

.advantage-city--souvenir {
  background-image: url("../../img/icon-souvenir.svg");

  @include mixins.tablet {
    background-size: 64px 75px;
  }

  br {
    display: none;

    @include mixins.desktop {
      display: block;
    }
  }
}

.advantage-city__title {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantage-city__description {
  margin: 0;
}
