@use "../globals/variables.scss";
@use "../globals/mixins.scss";

.copyright {
  display: flex;
  align-items: center;
  color: variables.$color-text-secondary;
  text-transform: uppercase;
  text-decoration: none;
}

.copyright:hover {
  color: variables.$primary-color;
}

.copyright:active {
  color: #b3b3b3;
}

.copyright__text {
  margin: 0;
  margin-right: 13px;
}
