.feedback-form__group {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 34px;
  border: none;
  border-bottom: solid 1px #e5e5e5;
}

.feedback-form__notice {
  display: block;
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
  text-align: end;
}
