@use "../globals/variables.scss";
@use "../globals/mixins.scss";

.form-group__control:not(:last-child) {
  margin-bottom: 16px;
}

.form-group__description {
  padding: 0;
  padding-top: 24px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: variables.$color-text-secondary;
  text-transform: uppercase;
  text-align: center;

  @include mixins.tablet {
    padding-top: 0;
    width: 100%;
    max-width: 400px;
    font-size: 21px;
  }
}

.form-group__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.form-group__textarea {
  display: block;
  padding: 16px;
  width: 100%;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: variables.$color-text-secondary;
  background-color: variables.$secondary-color;
  border: none;
  resize: none;

  &::placeholder {
    color: variables.$opacity-color;
  }
}

.form-group__footer {
  @include mixins.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  @include mixins.desktop {
    padding-left: 96px;
    padding-right: 96px;
  }
}
