.gallery-post {
  padding-top: 24px;
  padding-bottom: 25px;
}

.gallery-post__image {
  display: block;
  margin-bottom: 15px;
}

.gallery-post__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.gallery-post__author {
  margin: 0;
  margin-bottom: 11px;
}
