@use "../globals/variables.scss";
@use "../globals/mixins.scss";

.like {
  display: flex;
  align-items: end;
  gap: 14px;
}

.like__button {
  padding: 0;
  display: block;
  font-family: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.like__button > .like__icon {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.like__icon {
  fill: variables.$opacity-color;

  @include mixins.desktop {
    fill: variables.$color-text-accent;
  }
}

.like__counter {
  font-weight: 700;
  color: variables.$color-text-secondary;

  @include mixins.desktop {
    color: variables.$color-text-accent;
  }
}
