@use "../globals/variables.scss";

.navigation {
  background-color: variables.$primary-color;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__link {
  display: block;
  padding: 17px 20px 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: variables.$color-text-accent;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation__item:not(:last-child) {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
