@use "../globals/variables.scss";
@use "../globals/mixins.scss";

.presentation {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;

  @include mixins.tablet {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 40px;
  }

  @include mixins.desktop {
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 84px;
  }
}

.presentation__header {
  padding: 17px 6px 38px;

  @include mixins.tablet {
    padding: 58px 101px 66px;
  }

  @include mixins.desktop {
    padding: 66px 177px 58px;
  }
}

.presentation__video {
  display: block;
}

// .presentation__poster {
//   position: absolute;
//   display: block;
//   // width: 100%;
//   // object-fit: cover;
//   bottom: 0;
// }

.presentation__button {
  position: absolute;
  padding: 0;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background: transparent;

  @include mixins.tablet {
    bottom: 223px;
  }
}

.presentation__button svg {
  fill: rgba(255, 255, 255, 0.7);
}
