@use "../base.scss";

.social {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 6px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  background-color: variables.$primary-color;
  color: variables.$color-text-accent;
  min-width: 48px;
  min-height: 48px;
  position: relative;
}

.social__icon {
  fill: variables.$color-text-accent;
}
