@use "../globals/variables.scss";

.text-control {
  display: block;
}

.text-control__caption {
  margin-left: 16px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.text-control__input {
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: variables.$color-text-secondary;
  background-color: variables.$secondary-color;
  border: none;
  display: block;
}

.text-control__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
